.date-time{
  background-color: rgb(231, 249, 246);
  height: 100vh;

}

.text-decoration{
  padding: 25px;
  border: none;
 
  text-decoration: none;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: rgb(231, 249, 246);
  width: 200px;
  margin-right: 10px;
  padding-right: 20px;
  border-radius: 10px;
}

.title-decoration{
  border: none;
  padding: 8px; 
  text-decoration: none;
  font-size: 22px;
  font-weight:700; 
  width: 100%;
  border-radius: 10px;
  text-shadow: 1px 1px 2px rgb(10, 45, 216);
letter-spacing: 1px;
          
                 
  
}

.row-decoration{
  text-decoration: none;
  font-weight: bolder;
  border: 2px solid rgb(3, 246, 242);
  border-radius: 10px;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}